

.page-title {
    margin: 4rem 0 4rem;
    text-align: center;
}

.basket-content {
    display: flex;
}

.basket-list {
    flex: 2;
    overflow: scroll;
	padding: 20px;
	height: 100%
}

.basket-items {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px #ebebeb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    height: 60%;
}

.basket-product-img {
    width: 115px;
    height: 115px;
    padding: 10px;
}

.basket-product-img img {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}

.basket-product-info {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.basket-title-p {
    font-size: 1.3rem;
}

.availability {
    font-style: italic;
    font-size: 0.8rem;
    padding: 10px 0 10px 0;
    width: 100%;
}

.basket-product-info ul {
    width: 100%;
    color: #999;
    font-size: 0.8rem;
}

.itemAction {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.itemAction > .form-control {
    font-size: 13px;
    width: 100px;
    border-radius: 4px;
    height: 46px;
    color: #000;
    text-align: center;
    border: 1px solid #ccc;
}

.itemAction > .remove-btn {
    color: #DE1818;
    background-color: #fff;
    margin-top: 10px;
    font-size: 0.9rem;
}

.priceTotal {
    font-size: 1.3rem;
    font-weight: 700;
}

.order-summery {
    margin-left: 20px;
    flex:1;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 20px #ebebeb;
    height: 60%;
}

.basket-summary-title h3 {
    margin: 0 0 20px;
    text-align: center;
}

.basket-order-summary {
    font-size: 0.85rem;
}

.flex-justify-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-10 {
    margin: 10px 0;
}


/* 결합시 삭제 필요 */
.product-promotion{
	font-size: 0.85rem;
}

.product-promotion a {
    color: #2273dd;
}
